# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
sphinx/_build/
sphinx/*.rst
!sphinx/index.rst
docs/.doctrees

# Log files 
pip-log.txt
pip-delete-this-directory.txt
*.log
